.Assistants{
    width: 100%;
    min-height: 100%;
    padding: 40px;    
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;
}

.header > * {
    flex: 0 1;
}

.title_wrapper {
    display: flex;
    gap: 10px;
}

.title_wrapper > h1{
    font-size: 2rem;
    color: #081551;
}

.title_wrapper > img{
    width: 30px;
    height: auto;
}

.title_wrapper > img:hover {
    cursor: pointer;
}

.search_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    
    border: 2px solid rgba(134, 134, 134, .3);
    border-radius: 8px;
    padding: 10px;
}

.search_wrapper > img{
    width: 20px;
    height: auto;
}

.search_wrapper > input{
    border: none;
    font-size: 1.1rem;
    outline: none;
    width: 200px;
}

.cards__container {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}