.AssistantsCard {
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    padding: 15px;
}

.AssistantsCard__header {
    display: flex;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    padding: 10px 0;
}

.AssistantsCard__body {
    padding: 10px 20px;
}

.AssistantsCard__body ul{
    list-style: none;
}