.Layout {
    display: grid;
    grid-template-columns: minmax(300px, auto) 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        "sidebar navbar"
        "sidebar content";
    position: relative;
}

.Sidebar {
    grid-area: sidebar;
    position: sticky;
}

.Navbar {
    grid-area: navbar;
    position: sticky;
    top: 0;
}

.Content {
    grid-area: content;
    color: black;
    overflow: auto;
}