.Navbar {
    background-color: #ffffff;
    border-bottom: 2px solid #E7E3EB;

    padding: 10px 25px;
    display: flex;
    gap: 1rem;

    align-items: center;
    justify-content: end;
}

.Navbar__logo {
    display: flex;
    align-items: center;
    height: 50px;
    width: 50px;

    border-color: #081551;
    border-width: 2px;
    border-style: solid;
    border-radius: 65px;
}


.Button-style {
    background: #081551;
    font-weight: 600;
    margin-top: 0;
    /* width: 50px; */
}

.Arrow-style {
    display: flex;
    align-items: center;
    height: 30px;
}


.Logout {
    display: flex;
    gap: 1rem;
    list-style: none;
    width: 60px;
    justify-content: center;
  }

.Logout li {
    padding: 0.5rem 1rem;
  }
  
  .Dropdown-li {
    position: relative;
  }
  
  .Dropdown-li:hover .Dropdown {
    display: block;
    opacity: 1;
  }
  
  .Dropdown {
    background-color: #C61635;
    margin: 0;
    padding: 0;
    width: 100%;
    position: absolute;
    left: 0;
    top: 100%;
    opacity: 0;
    display: none;
    border-radius: 10px;
  }
  
  .Dropdown li {
    list-style: none;
  }

  .Link-style {
    color: white;
    font-weight: bold;
  }